# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
backend/assets/scenes/*
backend/output/*
!backend/assets/scenes/.gitkeep
!backend/output/.gitkeep
